.table td.dragHandle .dragGroup {
    width: 80px;
    cursor: move;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 4px 4px 4px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    content: "www";
}



.table td.pointer {
    cursor: pointer;
}

.table td.dragHandle .dragGroup .positions {
    display: inline-block;
    border: solid 1px #ccc;
    background-color: #eee;
    padding: 0 5px;
    color: #aaa;
    width: 80px;
    text-shadow: #fff 1px 1px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
    box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
}

#busy_indicator {
    background: none repeat scroll 0 0 black;
    bottom: 0;
    color: gray;
    display: table;
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
    opacity: 0.2;
}
#span_img {
    display: table-cell;
    vertical-align: middle;
}
.filterColumn {
    width: 95%;
    border-style: solid;
    border-color: #fff;
}
.input-outer {
    border: 1px #e7e7e7 solid;
    background-color: #fff;
    width: 100%;
}
.filter-close {
    right: 0px;
}

.row-actions {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}
.breadcrumb {
    list-style: none;
}